{% extends 'layout.html' %}

{% block content %}
    <div class="luffy-container">
        <form action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <div style="margin: 5px 0;">
                <input type="submit" value="保存" class="btn btn-warning">
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>考情</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        {{ form.id }}
                        <td>{{ form.instance.student }}</td>
                        <td>{{ form.record }} <span style="color:#c9302c">{{ form.record.errors.0 }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

        <nav>
            <ul class="pagination">
                {{ pager.page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}